<div class=" col-5 mx-auto">

<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_with model: @user , local: true , url: edit_user_registration_path do |f| %>

  <h4>Name</h4>
  <%= f.text_field :name %>

  <h4>Image</h4>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <h4>Introduction</h4>
  <%= f.text_area :introduction %>

  <p>
  <button type="submit" class="btn btn-secondary">
    Update User
  </button>
  </p>
  <%# 反応しない↑ %>

<% end %>

</div>