@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

li {
  list-style-type: none;
  text-decoration: none;
  color: white ; 
}


header {
  width: auto;
  padding: 10px;
}

